<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Обо мне</h1>

  <div class="text">
    <p>В детстве я хотела стать врачом, но перспектива крови отпугнула меня и после школы я выбрала другой способ поддерживать людей – психологию.</p>

    <p>Будучи больше практиком, чем теоретиком, уже с первого курса пошла работать добровольцем в кризисный центр «Скалбес» — телефон доверия для взрослых, потом детский телефон доверия. Это был ценный опыт, который научил меня слушать и слышать.</p>

    <p>Во время бакалавратуры в профессии психолога глубоко разочаровалась, я не видела себя в том формате, как учили в институте и не хотела разговаривать с людьми так, как это делали психологи, к которым ходила.</p>

    <p class="special-text">Ушла в свободное плаванье... Организация мероприятий, продюсирование, веб технологии... Я искала себя. В 2005 г. нашла йогу и мужа. Самые ценные «приобритения» тех лет.</p>

 <!--    <p><img src="img/1.jpeg" class="photos"></p>

    <p><img src="img/2.jpeg" class="photos"></p>

    <p><img src="img/3.jpeg" class="photos"></p> -->

    <p>В 2009 г. в Ригу пришел Эриксоновский коучинг и я поняла – это мое. Работа, основанная на принципах, что со всеми людьми все впорядке, в каждом есть все необходимые ресурсы. Процесс, ориентированный на результат, четкое понимание видения. Отсутствие оценки и интерпретации. Поток. Спасибо моему учителю Мерилин Аткинсон за способность быть абсолютно нейтральной, принимающей и умению этому научить.</p>

    <p>Коучинг подтолкнул меня закончить магистратуру по программе Позитивная психология. Благодаря этому я изучила научную сторону счастья, человеческого потенциала и благополучия. Спасибо моему учителю Маркусу Штуку за открытость и вдохновение снова играть на музыкальных инструментах.</p>

    <p class="special-text">В 2011 г. состоялось знакомство с техниками эмоциональной свободы (emotional freedom technique) и это настолько облегчило мою жизнь, что невозможно держать такое сокровище при себе – хочется делиться. Спасибо моему учителю Маше Беннет, которая учит искренне любить людей и видеть в них сундук с сокровищами.</p>

    <!-- <p><img src="img/4.jpeg" class="photos"></p> -->

    <p>И как последний аккорд для целостности и завершенности служит моя старая любовь - кундалини йога и медицинская медитация. Это дает мне много энергии, силы и вдохновения для всего, что я задумала. Кундалини йога научила меня дисциплине и служению. Спасибо моему первому учителю Dharampal Kaur за вдохновение и вызов выйти за рамки возможностей.</p>

    <p>Учиться новому одна из моих страстей (помимо дизайна интерьера, музыки и кулинарии), поэтому каждый месяц осваиваю новое или углубляю знания в известном.</p>

    <p class="special-text">Каждый день учусь быть здесь и сейчас, и любить без условий. Жить наполненной и счастливой жизнью – так можно назвать путь по которому иду.</p>
  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>

</div>