<div class="wrapper">
  <%= erb :menu %>

  <h1>Календарь</h1>

  <div class="text">
    <p>Испробовав занятую, расписанную по&nbsp;минутам жизнь, а&nbsp;также время, когда мечтаешь вырваться из&nbsp;рутинной монотонности молодой матери, я&nbsp;открыла для себя идеальную формулу сбалансированной недели&nbsp;&mdash; <b>3 дня в&nbsp;неделю активная трудовая деятельность</b>, остальное время посвящаю себе, близким, дому, увлечениям, учебе, размышлениям&hellip; Моя жизнь гибкая и&nbsp;может найти место для тебя.</p>
  </div>

  <div class="calendar-container">

    <div class="calendar">Понедельник</div>
    <div class="vertical-line"></div>
    <div class="calendar-text"><p>&#9829; Время на себя, мужа, отдых, учебу</p></div>
   
    <div class="vertical-line"></div>
    <div class="calendar">Вторник</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>12:00</b>: Частные консультации в Юрмале в Клинике Неврозов</p>
      <p><b>14:30–16:00</b>: Йога в Юрмале (Клиника Неврозов)</p>
      <p><b>18:00–19:15</b>: Йога для беременных в центре Риги</p>
      <p><b>19:30–21:00</b> Йога против стресса с медитацией</p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Среда</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>7:30–8:30</b>: Йога <a href="https://maps.google.com/maps?q=Balasta+dambis+1a,+R%C4%ABga,+LV-1048,+Latvija&hl=en&ie=UTF8&hnear=Balasta+dambis+1A,+R%C4%ABga,+LV-1048,+Latvia&t=m&z=16" target="blank">в главном здании Swedbank</a>
      (взять ссобой коврик <nobr>и предварительно</nobr> позвонить мне 
      по номеру 26 364 854, <nobr>если не являетесь сотрудником банка)</nobr></p>
      <p><b>11:00</b>: Частные консультации в центре Риги и в Баложи</p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Четверг</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>10:30</b>: Частные консультации в Юрмале в Клинике Неврозов</p>
      <p><b>12:00–16:00</b>: Йога в Юрмале (Клиника Неврозов)</p>
      <p><b>17:30–18:30</b>: Йога <a href="https://maps.google.com/maps?q=Balasta+dambis+1a,+R%C4%ABga,+LV-1048,+Latvija&hl=en&ie=UTF8&hnear=Balasta+dambis+1A,+R%C4%ABga,+LV-1048,+Latvia&t=m&z=16" target="blank">в главном здании Swedbank</a></p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Пятница</div>
    <div class="vertical-line"></div>
    <div class="calendar-text"><p>&#9829; Время на себя, мужа, отдых, учебу</p></div>
    <div class="vertical-line"></div>
    <div class="vertical-line"></div>

  </div>

  <div class="line-calendar"></div>

  <div class="event-inner">
    <div class="date-inner">31 НОЯ—2 ФЕВ</div>
    <div><a href="">«Šabads Sievietei» viesu namā «Gungas»</a></div>
  </div>

  <div class="event-inner">
    <div class="date-inner">17 и 24 ДЕК / 14:00–17:30</div>
    <div><a href="">Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</a></div>
  </div>

  <%= erb :footer %>

</div>