<div class="wrapper">

  <%= erb :menu %>

  <h1>Календарь</h1>

  <div class="text">
    <p>Испробовав занятую, расписанную по&nbsp;минутам жизнь, а&nbsp;также время, когда мечтаешь вырваться из&nbsp;рутинной монотонности молодой матери, я&nbsp;открыла для себя идеальную формулу сбалансированной недели&nbsp;&mdash; <b>3 дня в&nbsp;неделю активная трудовая деятельность</b>, остальное время посвящаю себе, близким, дому, увлечениям, учебе, размышлениям&hellip; Моя жизнь гибкая и&nbsp;может найти место для тебя.</p>
  </div>

  <div class="calendar">Понедельник</div>
  <div class="vertical-line"></div>

  <div class="line"></div>

  <div class="event-inner">
    <div class="date-inner">31 НОЯ—2 ФЕВ</div>
    <div><a href="">«Šabads Sievietei» viesu namā «Gungas»</a></div>
  </div>

  <div class="event-inner">
    <div class="date-inner">17 и 24 ДЕК / 14:00–17:30</div>
    <div><a href="">Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</a></div>
  </div>

  <%= erb :footer %>

</div>