<% @title = "Календарь Айи Берёзы" %>

<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Календарь</h1>

  <div class="text">
    <p>Испробовав занятую, расписанную по&nbsp;минутам жизнь, а&nbsp;также время, когда мечтаешь вырваться из&nbsp;рутинной монотонности молодой матери, я&nbsp;открыла для себя идеальную формулу сбалансированной недели&nbsp;&mdash; <b>3 дня в&nbsp;неделю активная трудовая деятельность</b>, остальное время посвящаю себе, близким, дому, увлечениям, учебе, размышлениям&hellip; Моя жизнь гибкая и&nbsp;может найти место для тебя.</p>

    <p><script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div>
    </p>
  </div>

  <div class="calendar-container">

    <div class="calendar">Понедельник</div>
    <div class="vertical-line"></div>
    <div class="calendar-text"><p>Частные консультации в дом. офисе в Баложи</p></div>
   
    <div class="vertical-line"></div>
    <div class="calendar">Вторник</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>12:00-14:00</b>: Частные консультации в <a href="http://dzintari.lv/" target="_blank">Клинике Неврозов</a> (Юрмала)</p>
      <p><b>14:30–15:45</b>: Йога в <a href="http://dzintari.lv/" target="_blank">Клинике Неврозов</a> (Юрмала)</p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Среда</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>7:30–8:30</b>: Йога <a href="https://maps.google.com/maps?q=Balasta+dambis+1a,+R%C4%ABga,+LV-1048,+Latvija&hl=en&ie=UTF8&hnear=Balasta+dambis+1A,+R%C4%ABga,+LV-1048,+Latvia&t=m&z=16" target="blank">в главном здании Swedbank</a>
      (взять ссобой коврик <nobr>и предварительно</nobr> позвонить мне 
      по номеру 26 364 854, <nobr>если не являетесь сотрудником банка)</nobr></p>
      <p><font color="red">&#9829;</font> Время на себя, мужа, отдых, учебу</p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Четверг</div>
    <div class="vertical-line"></div>
    <div class="calendar-text">
      <p><b>10:30-16:00</b>: Частные консультации в <a href="http://dzintari.lv/" target="_blank">Клинике Неврозов</a> (Юрмала)</p>
      <p><b>12:00–13:15</b>: Йога в <a href="http://dzintari.lv/" target="_blank">Клинике Неврозов</a> (Юрмала)</p>
    </div>

    <div class="vertical-line"></div>
    <div class="calendar">Пятница</div>
    <div class="vertical-line"></div>
    <div class="calendar-text"><p><font color="red">&#9829;</font> Время на себя, мужа, отдых, учебу</p></div>
    <div class="vertical-line"></div>
    <div class="vertical-line-last"></div>

  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>
</div>