<div class="wrapper">

  <%= erb :menu %>

  <h1>Айя Берёза</h1>

  <div class="main">
    <img src="img/aija.png" width="218px" height="218px" alt="">
    <p>Сертифицированный коуч, тренер, мама и жена</p>

    <p class="contact">
      <span class="contact-first">+371 26 364 854</span>
      <span class="contact-first"><a href="mailto:aija.berjoza@gmail.com">aija.berjoza@gmail.com</a></span>
      <span class="contact-first"><a href=""><img src="img/twitter.png" class="twitter">joxa</a></span>
      <span class="contact-last"><a href=""><img src="img/facebook.png" class="facebook">aija.berjoza</a></span>
    </p>

  </div>

  <div class="clearfix">

    <div class="information">

      <div class="events">
        <h2>БЛИЖАЙШИЕ МЕРОПРИЯТИЯ</h2>

        <!-- First event -->

        <div class="event">
          <div class="date">17 и 24 ДЕК / 14:00–17:30</div>
          <div><a href="">Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</a></div>
        </div>

        <div class="line"></div>

        <div class="event">
          <div class="date">17 и 24 ДЕК / 14:00–17:30</div>
          <div><a href="">Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</a></div>
        </div>

        <div class="line"></div>

        <div class="event">
          <div class="date">17 и 24 ДЕК / 14:00–17:30</div>
          <div><a href="">Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</a></div>
        </div>

        <div class="line"></div>

        <!-- Last event -->

        <div class="small-text">Хотите что-то особенное или вам не подходят даты и время? Свяжитесь со мной по номеру <b>+371 26 364 854</b> или эл. почте <a href="mailto:aija.berjoza@gmail.com">aija.berjoza@gmail.com</a></div>

      </div>

      <div class="quotes">
        <h2>Рекомендации</h2>
        <div class="hooks">“</div>
        <div class="quote">Коучинг и Айя помогли мне лучше понять себя, увидеть мои истинные потребности, мои ценности и куда двигаться дальше. Мне нужен был чёткий план моей жизни - и я его получила. Теперь осталось только воплощать его в реальность — а это уже зависит только от меня</div>
        <div class="signature">Константин Константинопольский,<br>менеджер среднего звена</div>
      </div>

    </div>

  </div>

  <%= erb :footer %>

</div>