<div class="wrapper">

  <%= erb :menu %>

  <h1>Айя Берёза</h1>

  <div class="main">
    <img src="img/aija.png">
    <p>Сертифицированный коуч, тренер, мама и жена.</p>
  </div>

  <div class="clearfix">

    <div class="information">

      <div class="events">
        <h2>БЛИЖАЙШИЕ МЕРОПРИЯТИЯ</h2>
        <p>Хотите что-то особенное или вам не подходят даты и время? Свяжитесь со мной по номеру <b>+371 26 373 995</b> или эл. почте <a href="mailto:aija.berjoza@gmail.com">aija.berjoza@gmail.com</a></p>
        <span>
          <span class="dates">20</span>
          <span>декабря</span>
        <span>Трансформационная игра: Mana laimīgā un apzinātā dzīve» в центре «Miervidi»</span>
      </div>

      <div class="quotes">
        <h2>Рекомендации</h2>
        <p>Коучинг и Айя помогли мне лучше понять себя, увидеть мои истинные потребности, мои ценности и куда двигаться дальше. Мне нужен был чёткий план моей жизни - и я его получила. Теперь осталось только воплощать его в реальность - а это уже зависит только от меня</p>
        <p class="signature">Глеб Ревков</p>
      </div>

    </div>

  </div>

  <%= erb :footer %>

</div>