<!DOCTYPE html>
<html class="no-js">
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Сайт Айи Берёзы</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=1200">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>
    <%= yield %>
    <%= erb :scripts %>
  </body>
</html>