<ul class="menu">
  <li><a href="/">аб</a></li>
  <li><a href="/about">Обо мне</a></li>
  <li><a href="/calendar">Календарь</a></li>
  <li><a href="/practice">Частная практика</a></li>
  <li><a href="/game">Трансформационная игра</a></li>
  <li><a href="/yoga">Йога</a></li>
<!--   <li>|</li>
  <li><a href="#">LV</a></li> -->
</ul>