<ul class="menu">
  <li><a href="/" class="active">аб</a></li>
  <li><a href="/about">Обо мне</a></li>
  <li><a href="#">Календарь</a></li>
  <li><a href="#">Частная практика</a></li>
  <li><a href="#">Трансформационная игра</a></li>
  <li><a href="#">Йога</a></li>
  <li>|</li>
  <li><a href="#">LV</a></li>
</ul>