<title>Йога Айи Берёзы</title>

<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Йога</h1>

  <div class="text">
    <p>Кундалини йога и&nbsp;медитация стали неотъемлемой частью моей жизни. КЙ&nbsp;повышает уровень осознанности, внутреннюю силу и&nbsp;выносливость. Помогает раскрыть в&nbsp;себе мир, где все есть, внутренний стержень. Регулярные занятия приводят человека в&nbsp;баланс, возвращают желание жить, цвести, сиять!</p>

    <p>Как проходит занятие кундалини йогой?</p>

    <p class="special-text">Элементы практики&nbsp;&mdash; это медитации, мантры, динамические и&nbsp;статические упражнения, дыхательные техники и&nbsp;релаксации. В&nbsp;Кундалини Йоге эти элементы сплетены в&nbsp;тонкую и&nbsp;точную технологию и&nbsp;используются на&nbsp;каждом занятии.</p>

    <p><img src="img/1.jpg" class="photos"></p>

    <p>Каждое занятие начинается с&nbsp;пения мантры, которая через вибрацию верхнего нёба активизирует работу гипофиза, что позволяет повысить чувствительность, улучшить концентрацию внимания на&nbsp;внутренних сигналах и&nbsp;ощущениях, а&nbsp;кроме того делает занятие более комфортным, <nobr>т. к.</nobr> увеличивается количество эндорфинов (гормона удовольствия). Затем разминка для позвоночника, растяжки, сама крийя и&nbsp;глубокая релаксация. В&nbsp;зависимости от&nbsp;выполняемого комплекса упражнений медитация либо предшествует релаксации, либо делается после. Завершается занятие пением заключительной мантры.</p>

    <p>Йоги Бхаджан о&nbsp;<nobr>кундалини-йоге</nobr>: &laquo;Существует 22 основные формы йогической практики. И&nbsp;в&nbsp;каждой из&nbsp;них подчеркивается та&nbsp;или иная грань целого. Некоторые делают ударение на&nbsp;использовании формы тела, как в&nbsp;<nobr>Хатха-йоге</nobr>, другие подчеркивают использование звука, как в&nbsp;<nobr>Мантра-йоге</nobr>, или визуальных форм, как в&nbsp;<nobr>Янтра-йоге</nobr>. Хорошим примером, описывающим эту ситуацию, является бриллиант. Разные формы практики можно уподобить его граням. Бриллиант прекрасен. Отдельные грани его отшлифованы так, что свет преломляется, сияя на&nbsp;них, привлекая ваше внимание и&nbsp;открывая разные измерения. <nobr>Кундалини-йога</nobr>&nbsp;&mdash; это сам бриллиант. Если посмотреть на&nbsp;него с&nbsp;<nobr>какой-то</nobr> стороны&nbsp;&mdash; вы&nbsp;увидите грань. Но&nbsp;если вы&nbsp;попытаетесь понять весь кристалл через эту отдельную грань, вас ждет неудача, ваше понимание будет поверхностным и&nbsp;неполным&raquo;.</p>

    <p><img src="img/2.jpg" class="photos"></p>

    <p>Я&nbsp;провожу занятия по&nbsp;вторникам, средам и&nbsp;четвергам. <a href="/calendar">Посмотреть&nbsp;календарь</a>.</p>

    <p><script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div></p>

  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>
</div>