@import "normalize.css";
@import "modal.css";

$helvetica_neue: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 

body {
  margin: 0 30px;
  min-width: 960px;
  background: #FBF9F5;
  font: normal 15px/150% Helvetica, sans-serif, Arial;
  text-shadow: 0 1px white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}

.clearfix:before, .clearfix:after {display: table; content: " "; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  text-align: center;
  font: 70px/100% 'Lobster', cursive;
  margin: 20px 0 30px;
  text-shadow: 0 3px white
}

h2 {
  color: #888;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300; 
  font-stretch: normal;
  font-family: $helvetica_neue;
  font-size: 13px;
}

h3 {
  color: white;
  letter-spacing: 5px;
  font-weight: 300; 
  font-stretch: normal; 
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  text-shadow: 0 2px #35944a
}

.quotes-inner-red h3 {
  color: white;
  letter-spacing: 5px;
  font-weight: 300; 
  font-stretch: normal;
  padding-top: 40px;
  text-align: center;
  font: 40px 'Lobster', cursive;
  text-shadow: 0 2px #f1240e
}

a {
  color: #42BA5D;
  text-decoration: none;
  padding-top: .3em;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin: 60px 0 30px;
  color: #888;
  text-align: center;
  font-size: 13px;
}

.text {
  margin: 0 auto;
  width: 700px;
  line-height: 200%;
}

.text ul {
  margin: -20px -10px 0 -5px;
  list-style-type: none;
  line-height: 250%;
}

.small-text {
  font-size: 13px;
  color: #888;
  text-shadow: 0 1px white
}

.small-text a { font-weight: bold; }

.special-text {
  font: italic 25px/150% Georgia;
}

.line {
  margin: 30px 0 30px;
  border-bottom: 1px dashed #888;
}

.photos {
  width: 700px;
  padding: 1px;
  border: 5px solid white;
  box-shadow: 0px 1px 3px #888;
  border-radius: 3px;
}


/* Menu */
.menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none; 
  text-align: center;
}

.menu li {
  display: inline;
  margin-right: 15px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-stretch: normal;
  font: 11px $helvetica_neue;
}

.menu a.active {
  color: black;
  font-weight: bold;
}

.menu a { 
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: #888;
  text-decoration: none;
}

.menu a:hover {
  color: #41B95D;
  text-decoration: underline;
}



/* Main page*/
.main {
  margin-bottom: 10px;
  border-bottom: 1px dashed #888;
  text-align: center;
}

.contact {
  list-style-type: none;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;

  li {
    display: inline;
    margin: 0 10px;
    font-weight: bold;
  }
}


/* Calendar */
.calendar-container {
  margin: 30px 0 -20px;
}

.calendar {
  width: 180px;
  margin: 0 auto;
  background-color: #42BA5D;
  border-radius: 3px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font: 300 15px $helvetica_neue;
  padding: 5px 5px 5px 10px;
  text-shadow: 0 1px #35944a;
  box-shadow: 0px 1px 3px #888
}

.vertical-line {
  border-right: 1px dashed #888;
  width: 50%;
  height: 30px;
}

.vertical-line-last {
  border-right: 1px dashed #888;
  width: 50%;
  height: 30px;
  margin-bottom: -30px;
}


.calendar-text {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}


/* Events and quotes */
.events {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  width: 49%;
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 1px 3px #888;

}

.event {
  line-height: 150%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #888;
}

.date {
  color: #888;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-stretch: normal;
  font-size: 11px;
  font-family: $helvetica_neue;
}

a:hover .date {
  text-decoration: none;
}

.name {
  padding-bottom: 20px;
}

.event-inner {
  margin: 0 auto -10px;
  width: 700px;
  line-height: 150%;
}

.date-inner {
  margin-top: 30px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-stretch: normal;
  font-size: 11px;
  font-family: $helvetica_neue;
}

.quotes {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 49%;
  float: right;
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  border-radius: 3px;
  border-color: #dcdcdc;
  border-width: 1px;
  border-style: solid;

  a {
    color: #888;
  }
}

.quote {
  padding: 0 30px 15px 50px;
  font: italic 20px/150% Georgia;
}

.signature {
  text-align: right;
  font-size: 13px;
  padding: 0 30px 0px 50px;
  color: #888;
}

.hooks {
  font-size: 100px;
  position: absolute;
  padding: 36px 0 0 0;
  font-family: georgia;
  color: #888;
}

.quotes-inner-green {
  width: 688px;
  margin: 30px auto 45px;
  background-color: #42BA5D;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #888;
  text-shadow: 0 1px #35944a;
  border: 7px inset;

  .recommendation {
    margin-bottom: 30px;
    border-bottom: 1px dashed #ffffff;
  }
  .recommendation:last-child {
    border-bottom: none; margin-bottom: 0;
  }
}

.quote-inner {
  padding: 0 60px 15px 85px;
  font: italic 20px/150% Georgia;
  color: white;
}

.signature-inner {
  text-align: right;
  font-size: 13px;
  padding: 0 30px 0px 50px;
  padding-bottom: 30px;
  color: white;
}

.hooks-inner {
  font-size: 100px;
  position: absolute;
  padding: 36px 0 0 30px;
  font-family: georgia;
  color: white;
}

.line-inner-quotes {
  margin: 30px 0;
  border-bottom: 1px dashed #ffffff;
}



/* Modal event */

.event_modal {
  .header {
    color: #fff;
    background: #42ba5d;
    font-size: 25px;
    text-shadow: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .block {
      height: 100px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 33%;
      float: left;
      border-right: 1px solid white;
      padding: 28px 10px;
      text-align: center;
      font-weight: bold;

      .small { font-size: 13px; margin-top: 5px; font-weight: normal;}
    }

    .block:first-child {
      background: url(/img/cal.png) no-repeat 40px 0;
    }

    .block:last-child {
      border-right: none;
    }  
  }
  
  .content {
    padding: 15px 40px;
    border-bottom: 1px dashed #888;
    margin-bottom: 20px;
    padding-bottom: 20px;  

    h4 {
      margin-bottom: 0;
      color: #888;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-stretch: normal;
      font-size: 11px;
      font-family: $helvetica_neue;
      font-weight: normal;
    }
    .event_text { line-height: 200%;}
    .event_place { line-height: 200%; }
  }
  .event_contact {
    padding: 5px 40px 25px;
    text-align: center;
  }
}