$helvetica_neue: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 

body {
  margin: 0 30px;
  min-width: 960px;
  background: #FBF9F5;
  font: normal 15px/150% Helvetica, sans-serif, Arial;
}

.clearfix:before, .clearfix:after {display: table; content: " "; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Lobster', cursive;
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300; 
  font-stretch: normal;
  font-size: 15px;
  font-family: $helvetica_neue;
}

a {
  color: #42BA5D;
  text-decoration: none;
  padding-top: .3em;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #bbb;
  text-align: center;
  font-size: 13px;
}

.text {
  margin: 20px auto;
  margin-bottom: 60px;
  width: 700px;
  line-height: 200%;
}

.small-text {
  font-size: 13px;
  color: #bbb;
}

.special-text {
  font-style: italic;
  font-size: 25px;
  font-family: Georgia;
  line-height: 150%;
  }

.line {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px dashed #bbb;
}

.icons {
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
  margin-right: 7px;
}


/* Menu */
.menu {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none; 
  text-align: center;
}

.menu li {
  display: inline;
  margin-right: 15px;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-stretch: normal;
  font-size: 11px;
  font-family: $helvetica_neue;
}

.menu a.active {
  color: black;
  font-weight: bold;
}

.menu a { 
  color: #bbb;
  text-decoration: none;
}

.menu a:hover {
  color: #41B95D;
  text-decoration: underline;
}



/* Main page*/
.main {
  margin-bottom: 10px;
  border-bottom: 1px dashed #bbb;
  text-align: center;
}

.contact {
  text-align: center;
  margin-bottom: 30px;
}

.contact-first {
  margin-right: 20px;
}

.contact-last {
  
}



/* Information */

.events {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  width: 49%;
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 1px 3px #888;
}

.event {
  line-height: 150%;
}

.date {
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300; 
  font-stretch: normal;
  font-size: 11px;
  font-family: $helvetica_neue;
}

.name {
  padding-bottom: 20px;
}

.event-inner {
  margin: 0 auto;
  width: 700px;
  line-height: 150%;
  margin-bottom: -10px;
}

.date-inner {
  margin-top: 30px;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300; 
  font-stretch: normal;
  font-size: 11px;
  font-family: $helvetica_neue;
}

.quotes {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 49%;
  float: right;
  margin-top: 20px;
  padding: 5px 20px 20px 20px;
  border-radius: 3px;
  border-color: #dcdcdc;
  border-width: 1px;
  border-style: solid;
}

.quote {
  padding: 0 30px 15px 50px;
  font-style: italic;
  font-family: georgia;
  font-size: 20px;
  line-height: 150%;
}

.signature {
  text-align: right;
  font-size: 13px;
  padding: 0 30px 0px 50px;
  color: #bbb;
}

.hooks {
  font-size: 100px;
  position: absolute;
  padding: 35px 0 0 0;
  font-family: georgia;
  color: #bbb;
}